absl-py==2.2.2
attrs==25.3.0
Cartopy==0.24.1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
contourpy==1.3.1
cycler==0.12.1
dask==2025.4.1
filelock==3.13.1
fonttools==4.56.0
fsspec==2024.6.1
grpcio==1.71.0
idna==3.10
iniconfig==2.1.0
Jinja2==3.1.4
jsmin==3.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
locket==1.0.0
Markdown==3.8
MarkupSafe==3.0.2
matplotlib==3.10.1
mpmath==1.3.0
networkx==3.3
numpy==2.2.4
opencv-python==4.11.0.86
packaging==24.2
partd==1.4.2
pillow==11.1.0
pluggy==1.5.0
protobuf==6.30.2
pyFFTW==0.15.0
pyparsing==3.2.3
pyproj==3.7.1
pyshp==2.3.1
pysteps @ git+https://github.com/pySTEPS/pysteps@bc546165adc3f53d36aebec4d20fd02ec434cb07
pytest==8.3.5
python-dateutil==2.9.0.post0
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.3
rpds-py==0.24.0
scipy==1.15.2
setuptools==78.1.0
shapely==2.1.0
six==1.17.0
sympy==1.13.1
tensorboard==2.19.0
tensorboard-data-server==0.7.2
toolz==1.0.0
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.3.0
Werkzeug==3.1.3
