# Nowcasting Algorithms
pysteps @ git+https://github.com/pySTEPS/pysteps
Cartopy

# Machine Learning & Deep Learning
torch
torchvision
torchaudio
# For CUDA, use this instead and run pip-compile with extra-index-url:
# torch==2.3.0+cu118
# torchvision==0.18.0+cu118
# torchaudio==2.3.0+cu118

# Speed up computation
numpy
scipy
pyFFTW

# Misc
requests

# Logging
tensorboard
matplotlib
tqdm


